<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Create New Password</h1>
			
			<form action="{{ url_for('forget_password') }}" method="post">
                <label for="email">
					<i class="fas fa-user"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
                <label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Enter Password" id="password" required>
				<label for="new_password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="new_password" placeholder="Confirm Password" id="new_password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Submit">
				
			</form>
		</div>
	</body>
</html>